body {
    background-image:url("../images/gradient.jpg");
    background-color: #00004d;
}
div.container {
    margin: 45px;
    width: 93%;
    border: 1px solid rgba(190,193,1,0.9);
    background-color: #ffd699;
    border-radius: 14px;
}
input {
    background-color: #d0d0e1;
    overflow: visible;
    border-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

a{
    text-decoration: none;
    color:#fff;
}


input:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus {
    border-color: #cc8800;
}
input[type="submit"] {
    background: #d0d0e1;
    color: #cc8800;
    cursor: default;
    font-weight: bold;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #a3a3c2;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #cc8800;
}
header {
    padding: 40px;
    color: #ffd699;
    background-image:url("../images/back.jpg");
    background-size: cover;
    clear: left;
    text-align: center;
    border-radius: 14px;
}
footer {
    padding: 2px;
    color: black;
	background-image:url("../images/back.jpg");
    background-color:#ffd699;
    clear: left;
    text-align: center;
}

ul.topbar {
    list-style-type: none;
    margin: 0 0 3px 0;
    overflow: hidden;
    float: right;
    font-size: 1.05em;
   
}



li.login{
    float: left;
    text-shadow: 0 0 9px rgba(255,255,86,0.7) ;

}

li.register{
    text-shadow: 0 0 9px rgba(255,255,86,0.7) ;

}
a.topbar {
    display: block;
    
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 38px;
    color:#fff;
}
a.topbar:hover {
    background-color: #a3a3c2;
}
nav.sidebar {
    line-height: 65px;
    background-color: #d0d0e1;
    height: 570px;
    width: 130px;
    float: left;
    padding: 5px;
    color: black;
    border-radius: 14px;
}
ul.sidebar {
    list-style-type: none;
    padding: 0;
    font-size: 1.40em;
    margin-left: 15px;
}
li.sidebar {
		display: inline-block;
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  cursor: pointer;
	  padding: 5px 5px;
	  border: 1px solid rgba(190,193,1,0.9);
		margin-bottom: 5px;
	  -webkit-border-radius: 14px;
	  border-radius: 14px;
	  font: normal normal bold 20px/normal "Palatino Linotype", "Book Antiqua", Palatino, serif;
	  color: rgba(255,255,255,0.9);
	  -o-text-overflow: clip;
	  text-overflow: clip;
	  background: #ffb366; 
	  -webkit-box-shadow: 4px 4px 7px 2px rgba(183,167,27,0.9) inset;
	  box-shadow: 4px 4px 7px 2px #ff944d inset;
	  text-shadow: 0 0 9px rgba(255,255,86,0.7) ;
	  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
a.sidebar {
    color: rgba(255,255,255,0.9);
    text-align: center;
    text-decoration: none;
}
article {
    margin-top: 24px;
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
    font: normal normal bold 14px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#first {
    font-size: 1.80em;
}
#title {
    text-align: left;
    margin-left: 80px;
    font: italic normal bold 50px/normal "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgba(255,255,255,0.9);
    text-shadow: 0 0 9px rgba(255,255,86,0.7);
}

.error {color: #FF0000;}

input{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal bold 20px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgba(66,53,53,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(226,222,239,0.98);
}

.register_table{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal bold 14px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background:#ffb366;
  border-radius: 14px;
  width:60%;
  
}

tr{
	  height: 50px;
}

form.searchbar {
    float: right;
}

div.searchbar {
float: right;}

#mainbody{
  display:inline-block;
  position:relative;
}

#recenzii_table{
	text-align:center;
}


h3{
	text-align:center;
}

h1{
	font-size: 15px;
}



div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


div.artefacteTitle {
    padding: 40px;
    clear: left;
    text-align: center;
    font: italic normal bold 20px/normal "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #b75109;
}

div.singleArtefact {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
}


div.singleDesc {
    padding: 100px;
    text-align: center;
}


div.singleArtefact img {
    width: 100%;
    height: 275px;
}


div.singleArtefact2 {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
}

div.singleArtefact2 img {
    width: 100%;
    height: 250px;
}


div.categorii {   
    background-color: #fec15f;
    color: #b8540c;
    padding: 20px;
    border-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    font: italic normal 15px/normal "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 15px;
}



footer{
    color:#fff;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


